<!-- Header Section Begin -->
<header class="header-section">
  <div class="header-top">
    <div class="container">
      <div class="ht-left">
        <div class="mail-service">
          <i class="fa fa-envelope"></i>
          hello.anailis@gmail.com
        </div>
        <div class="phone-service">
          <i class="fa fa-phone"></i>
          974751681
        </div>
      </div>
      <!-- la div de droite -->
      <div class="ht-right">
        <!--login -->
        <a routerLink="login" class="login-panel"><i class="fa fa-user"></i>Login</a>
        <!--langue -->
        <div class="lan-selector">

          <select class="selectpicker" data-width="fit" style="Border: none;">
            <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
            <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
          </select>





        </div>
        <!--social media -->
        <div class="top-social">
          <a href="https://www.instagram.com/v_anailis/"><i class="ti ti-facebook"></i></a>
          <a href="https://www.instagram.com/v_anailis/"><i class="ti ti-instagram"></i></a>
          <a routerLink="home"><i class="ti ti-twitter-alt"></i></a>
          <a routerLink="home"><i class="ti ti-linkedin"></i></a>
          <a routerLink="home"><i class="ti ti-pinterest"></i></a>
        </div>
      </div>
      <!--fin la div de droite -->
    </div>
  </div>
  <div class="container">
    <div class="inner-header">
      <div class="row">
        <div class="col-lg-2 col-md-2">
          <div class="logo">
            <a routerLink="home">
              <img src="assets/images/logo.png" alt="" width="50%" height="40px">
              <!--              <img src="assets/Logo-Joyeria.jpeg" alt="" width="50%" height="40px">-->
            </a>
          </div>
        </div>
        <div class="col-lg-7 col-md-7">
          <div class="advanced-search">
            <button type="button" class="category-btn">All Categories</button>
            <div class="input-group">
              <input type="text" placeholder="What do you need?">
              <button type="button"><i class="ti ti-search"></i></button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 text-right col-md-3">
          <ul class="nav-right">
            <li class="heart-icon">
              <a routerLink="home">
                <i class="ei-icon_heart_alt"></i>
                <span>1</span>
              </a>
            </li>
            <li class="cart-icon">
              <a routerLink="home">
                <i class="ei-icon_bag_alt"></i>
                <span>3</span>
              </a>
              <div class="cart-hover">
                <div class="select-items">
                  <table>
                    <tbody>
                    <tr>
                      <td class="si-pic"><img src="assets/images/jewelry_stylish_b3-300x300.jpg" alt="" width="70px"></td>
                      <td class="si-text">
                        <div class="product-selected">
                          <p>$14.00 x 1</p>
                          <h6>Pure Pineapple</h6>
                        </div>
                      </td>
                      <td class="si-close">
                        <i class="ti ti-close"></i>
                      </td>
                    </tr>
                    <tr>
                      <td class="si-pic"><img src="assets/images/p1.jpg" alt="" width="70px"></td>
                      <td class="si-text">
                        <div class="product-selected">
                          <p>$34.00 x 1</p>
                          <h6>Guangzhou sweater</h6>
                        </div>
                      </td>
                      <td class="si-close">
                        <i class="ti ti-close"></i>
                      </td>
                    </tr>
                    <tr>
                      <td class="si-pic"><img src="assets/images/p2.jpg" alt="" width="70px"></td>
                      <td class="si-text">
                        <div class="product-selected">
                          <p>$64.00 x 1</p>
                          <h6>Microfiber Wool Scarf</h6>
                        </div>
                      </td>
                      <td class="si-close">
                        <i class="ti ti-close"></i>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="select-total">
                  <span>total:</span>
                  <h5>$120.00</h5>
                </div>
                <div class="select-button">
                  <a  routerLink="shoppingCart" class="primary-btn view-card">VIEW CARD</a>
                  <a  routerLink="CheckOut" class="primary-btn checkout-btn">CHECK OUT</a>
                </div>
              </div>
            </li>
            <li class="cart-price">$112.00</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-item">
    <div class="container">
      <div class="nav-depart">
        <div class="depart-btn">
          <i class="ti ti-menu"></i>
          <span>All Categories</span>
          <ul class="depart-hover">
            <li><a routerLink="home">Collections</a></li> <!--class="active"-->
            <li><a routerLink="home">Bracelet</a></li>
            <li><a routerLink="home">Rings</a></li>
            <li><a routerLink="home">Necklaces</a></li>
            <li><a routerLink="home">Earrings</a></li>
            <li><a routerLink="home">Brooches</a></li>
            <li><a routerLink="home">Charms</a></li>
            <li><a routerLink="home">Cufflinks</a></li>
            <li><a routerLink="home">Earrings</a></li>
<!--            <li><a href="#">Name Jewellery</a></li>-->
<!--            <li><a href="#">Wedding Rings</a></li>-->
<!--            <li><a href="#">Engagement Rings</a></li>-->
<!--            <li><a href="#">Hight Jewellery</a></li>-->
          </ul>
        </div>
      </div>
      <nav class="nav-menu mobile-menu">
        <ul>
          <li [routerLinkActive]="['active']" ><a routerLink="home">Home</a></li>  <!--class="active"-->
          <li [routerLinkActive]="['active']"><a routerLink="shop">Shop</a></li>
          <li ><a  routerLink="shop">TOPICS</a>
            <ul class="dropdown">
              <li><a routerLink="home">Women's Jewellery</a></li>
              <li><a routerLink="home">Men's Jewellery</a></li>
              <li><a routerLink="home">Children's Jewellery</a></li>
              <li><a routerLink="home">Engraved Jewellery</a></li>
              <li><a routerLink="home">Premium Jewellery</a></li>
            </ul>
          </li>
          <li [routerLinkActive]="['active']"><a routerLink="sales">Sales</a></li>
          <li [routerLinkActive]="['active']"><a routerLink="contact">Contact</a></li>
          <li><a routerLink="">Pages</a>
            <ul class="dropdown">
              <li><a routerLink="shoppingCart">Shopping Cart</a></li>
              <li><a routerLink="CheckOut">Checkout</a></li>
              <li><a routerLink="register">Register</a></li>
              <li><a routerLink="login">Login</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
    </div>
  </div>
</header>
<!-- Header End -->
