<div>sales works!</div>
<!-- TEST CATEGORIE  ********************************************************************************** -->
<div class="banner-section spad">
  <div class="container-fluid">
    <div class="row" *ngIf="categories">

      <div class="col-lg-4" *ngFor="let c of categories._embedded.categories">
        <div class="single-banner" >
          <img src="assets/images/collier.jpg" alt="" height="223px">
          <div class="inner-text">
            <h4 (click)="getProductsByCat(c)" >{{c.name}}</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Banner Section End -->

<!--TEST PRODUIT-->
<div class="col-lg-9 order-1 order-lg-2">
<div class="product-list">
  <div class="row" *ngIf="products">

    <div class="col-lg-4 col-sm-6" *ngFor="let c of products._embedded.products">
      <div class="product-item">
        <div class="pi-pic">
          <img src="{{this.catService.host+'/photoProduct/'+c.id}}" alt="">
          <div class="icon">
            <i class="icon_heart_alt"></i>
          </div>
          <ul>
            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
            <li class="quick-view"><a href="#">+ Quick View</a></li>
            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
          </ul>
        </div>
        <div class="pi-text">
          <div class="catagory-name">{{c.name}}</div>
          <a href="#">
            <h5>{{c.name}}</h5>
          </a>
          <div class="product-price">
            ${{c.currentprice}}
            <span>$100.00</span>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
</div>
